#home-container
{
    display:flex;

    #feed-post
    {
        width :70%;
        padding:10px;
    }
    #posts-container
    {
        
        a 
        {
            text-decoration: none;
            color:rgb(197, 250, 3); 
        }
    }
    #button_post
    {
        border: 1px solid red;
        border-radius: 5px;
        
       
        cursor: pointer;
    }
    #button_post:hover
    {
        color: whitesmoke;
        background-color:black;
    }
    #user-friends
    {
        
        width :30%;
        padding:10px;
        border-left: 1px solid lightgrey;

        a{
            text-decoration: none;
            color:white;
        }
    }
}