body{
    margin : 0;
    background: -webkit-linear-gradient(coral,darkslateblue);


    #layout-main{

        height:85vh;
        text-align: center;

        form{
            text-align: center;
            justify-items: center;
            
        
        input{
            display: block;
            justify-content: center;
            margin-left: 42%;
            margin-bottom: 2%;
            border:1px solid grey;
            border-radius: 8px;
            padding:8px;
            width:15rem;

            
            line-height: 20px;

        }    
        
        #button_submit
        {
            border: 1px solid red;
            width:5rem;
            margin-left: 48%;
            cursor: pointer;
        }
        #button_submit:hover
        {
            color: whitesmoke;
            background-color:black;
        }
        .post-comments
        {
            input {
                justify-content: left;
                margin-left: 20%;;
            }
            #comment-here
            {
                width:2rem;
            }
        }
       

    
    }
}
   
}